@import "colors";

.dropdown {
    min-width: 100px;
    display: inline-block;
    background: @gray-6;
    padding: 4px 10px;
    border-radius: 8px;
    position: relative;
    height: 22px;
    width: 85%;
    overflow: hidden;
    &.open {
        height: auto;
        box-shadow: 0 0 0 1px @darkgray;
        .item {
            margin-left: -10px;
            padding: 4 10px;
            margin-right: -10px;
            &:first-child {
                margin-top: -4px;
            }
            &:hover {
                background: lighten(@gray-6, 10%);
            }
        }
        padding-bottom: 0px;
    }
    .fa {
        position: absolute;
        right: 7px;
        top: 7px;
    }
    &:not(.open) .item {
        display: none;
        &.active {
            display: block;
        }
    }
    .item {
        transition: background .2s;
        border-radius: 2px;
    }
}