@import "colors.less";
@import "buttons.less";
@import "progress.less";
@import "grid.less";

body {
    background: #3D4D65;
    color: #EBEFF3;
    font-family: "Open Sans";
    text-align: center;
    margin-left: 10%;
    width: 80%;
}